{% extends "main.html" %}
{% block content %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
			<a href="{{url_for('showLogin')}}">Click Here to Log in </a>
		</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Makeup Catalog Application</h1>
		</div>
	</div>

	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

<div class="row">
    <div class="col-sm-6">
        <h2>Makeup Groups</h2>
    {% for i in makeup_groups %}

      <a href = "{{url_for('showCategories', group_id = i.id)}}">
          <div class="row">
              <div class="col-md-10 restaurant-list padding-none"><h3>{{i.name}}</h3></div>
			</div>
        </a>
    {% endfor %}

    </div>


    <div class="col-sm-6">
        <h2>Recent Added</h2>
        {% for i in group_items %}
            <a href = "{{url_for('showItem',group_id=i.makeup_id, mkup_id=i.id)}}">

              <div class="col-md-10 restaurant-list"><h3>{{i.name}} - {{i.makeup.name}}</h3></div>


    {% endfor %}
    </div>
</div>
  {% endblock %}
